*{
  box-sizing: border-box;
}
body{
  font-family: Tahoma;
  line-height: 1.5;
  color:  #333333;
}
.section{
  padding: 30px 10%;
}

.header{
  margin-top: 80px;
  text-align: center;
  font-style: 24px;
  margin-bottom: 40px;
}
.header span{
  font-weight: 300;
  display: block;
}
.header strong{
  font-weight: 900;
  text-transform: uppercase;
}

.main{
  text-align: center;
  margin-top: 80px;
}

.video, .form {
  display: inline-block;
  vertical-align: top;
  
}

.form {
  margin-left: 30px;
  text-align: center;
  border: 5px solid blue;
  font-weight: 300;
  padding: 20px;

}
.form-header{
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 20px;
}

.form input {
  display: block;
  width: 300px;
  padding: 20px;
  border: 1px solid;
  font-size: 18px;
  margin-top: 10px;
}

.form button {
  font-size: 18px;
  font-weight: 900;
  background-color: blue;
  color: white;
  border: none;
  margin-top: 10px;
  width: 300px;
  height: 50px;
  

}

.col{
  display: inline-block;
  margin-right: 50px;

}
.feature {
  margin-top: 60px;
  text-align: center;
}

.btm2{
  margin-top: 10px;
  text-align: center;
  width: 500px;
  background-color: blue;
  color: white;
  height: 50px;
  border: solid;

}

.btm 2 strong {
  text-transform: uppercase;

}
